ADMIN=XXX
PROJECTFEE_RECEIVER=XXX
PROTOCOLFEE_RECEIVER=XXX
PROTOCOLFEE_AMOUNT=0
PROTOCOLFEE_PERCENT=0
AUTHORITY_WALLET=XXX
BASE_URI=XXX
PAYMENT_METHODS_ARCOMIAOGCOMMUNITYSBT=XXX XXX XXX
PAYMENT_METHODS_SOULSTORE=XXX XXX XXX 
SWAP_ROUTER=XXX
USDC_TOKEN=XXX
MASA_TOKEN=XXX
WETH_TOKEN=XXX
ARCOMIAOGCOMMUNITYSBT_NAME="Arcomia OG SBT"
ARCOMIAOGCOMMUNITYSBT_SYMBOL="AOG"
SOULNAME_NAME="Masa Soul Name"
SOULNAME_SYMBOL="MSN"
SOULNAME_EXTENSION=".soul"
SOUL_NAME_CONTRACT_URI=ar://bfG2m3VJU19fj6uGgyaxNY0QhK0G7RINYtw-GRVVqTM
SOULNAME_PRICE_1LEN=6250000000
SOULNAME_PRICE_2LEN=1250000000
SOULNAME_PRICE_3LEN=250000000
SOULNAME_PRICE_4LEN=50000000
SOULNAME_PRICE_5LEN=10000000
